body {
	background-color: SeaShell;
	margin: 0;
	font-family: cursive;
	text-align: center;
	color: rgb(105, 80, 70);
}
.main {
	padding:16px;
	margin-top:30px;
	margin-left: 15px;
}
.main2 {
	margin-top: 70px;
	margin-bottom: 20px;
}
.navbar {
        position: fixed;
        top: 0px;
	opacity: 0.9;
	width: 100%;
	background-color: RosyBrown;
	text-align: center;
	overflow: hidden;
	font-family: Lucida Handwriting;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.3px;
}
.navbar a:hover {
	background-color: rgb(224, 224, 209);
	color: RosyBrown;
}
h1, h2 {
	font-family: Papyrus;
}
ul{
	text-align: left;
	margin: 0 33%;
}
img{
	width: 35%;
}
ol {
	text-align: left;
	margin: 0 28%;
}
.gallery {
    border: 1px solid #ccc;
	background-color: rgb(224, 224, 209);
}
.gallery:hover {
    border: 1px solid #777;
    background-color: LightYellow;
    border-color: rgb(105, 80, 70);
}
.gallery img{
	width: 100%;
    height: auto;
    padding: 10%;
}
* {
	box-sizing: border-box;
}
.responsive {
	padding: 12px 12px;
    float: left;
    width: 32.99999%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.footer {
  background-color: rgb(224, 224, 209);
  text-align: center;
  padding: 45px;
}
.footer a:hover{
	color: rgb(167, 139, 139);
}
a img {
	width: 60px;
	height: auto;
}
